server:
  port: 8081
# application configuration
logging:
  level:
    com:
      amazonaws: DEBUG
#    root: DEBUG
    org:
      hibernate: INFO
      hibernate.SQL: DEBUG
      hibernate.cache: DEBUG
  hibernate.stat: DEBUG

# datasource configuration
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/resourceservice
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
    maxIdle: 30
    maxWait: 10000
    maxActive: 100


  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    database: POSTGRESQL

aws:
  s3:
    endpoint-url: http://s3.localhost.localstack.cloud:4566
    bucket-name: resources
    region: us-east-1

song-service:
  path: /api/v1/songs
